html, body {
  margin: 0;
  height: 100%;
  /*background: linear-gradient(#6599ed, #27f6fd)*/
  background-image: url("../media/wide-loop-regal-carbon.jpg");
  background-repeat: repeat
}

.unit {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  margin: 3%;
  padding: 1%;
}

header {
  background-image: url("../media/darkwood.jpg");
}

#delayDiv {
  background-color: #0a48ad;
}
#distoDiv {
  background-color: #ad090c;
}

#pannerDiv {
  background-color: yellow;
}
#reverbDiv {
  background-color: green;
}
#chorusDiv {
  background-color: orange;
}
.standOut {
  color: white;
}
label {
  color: white;
}

/*header grid*/
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  grid-gap: 10px;
  /*grid-auto-rows: minmax(100px, auto);*/
}
.one {
  grid-column: 3;
  grid-row: 1;
}
.two {
  grid-column: 3;
  grid-row: 2;
}
.three {
  grid-column: 8;
  grid-row: 1;
}
.four {
  grid-column: 10;
  grid-row: 1;
}
/* pedal grid*/
.innerWrap {
  display: grid;
  grid-template-columns: repeat(12, 2fr);
  grid-gap: 5px;
  /*grid-auto-rows: minmax(100px, auto);*/
}
.pedalButton {
  grid-row: 1;
}
