html, body {
  margin: 0;
  height: 100%;
  /*background: linear-gradient(#6599ed, #27f6fd)*/
  background-image: url("../media/wide-loop-regal-carbon.jpg");
  background-repeat: repeat
}

.unit {
  border-color: white;
  border-width: 2px;
  border-style: solid;
  border-radius: 15px;
  margin: 3%;
  padding: 1%;
}

header {
  background-image: url("../media/darkwood.jpg");
}

#delayDiv {
  background-color: #0a48ad;
}
#distoDiv {
  background-color: #ad090c;
}

#pannerDiv {
  background-color: yellow;
}
#reverbDiv {
  background-color: green;
}
#chorusDiv {
  background-color: orange;
}
.standOut {
  color: white;
}
label {
  color: white;
}
