<header>
  <div class="logo">
    <img src="media/motherboardverysmall.png">
  </div>
  <div class="logo">
    <img src="media/jackssmaller.png">
  </div>
  <div >
    <label class="standOut">Add A Pedal
      <span ng-repeat="unit in $ctrl.units.availableUnits">
          <button ng-click="$ctrl.units.addToBoard(unit)">Add {{unit}}</button>
      </span>
    </label>
    <label class="standOut">
      <span>
          <button ng-click="$ctrl.removeLastAndRebuild()">Remove Last Pedal</button>
      </span>
    </label>
  </div>

</header>
  <div>
    <div ng-repeat="u in $ctrl.units.currentUnits track by $index">
      <pedal-holder unit="{{u}}"></pedal-holder>
    </div>
  </div>
