<!-- chorus -->
<div id="chorusDiv" class="unit container">
  <div class="row text-center">
    <div class="col">
      <h1>Chorus</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <input id="chorusDepth" type="text" class="dial" value="50">
      <p>Depth</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <input id="chorusSpeed" type="text" class="dial" value="300">
      <p>Speed</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <label>Chorus Engaged?
        <input id="chorusBypass" type="checkbox" checked>
      </label>
    </div>
  </div>
</div>
