<!-- Delay -->
  <div id="delayDiv" class="unit container col"><h1>Delay</h1>
    <hr>
    <span>
      <label class="center">Delay Time
        <input id="delayTime" type="text" class="dial" value="0.25">
      </label>
    </span>
    <span>
      <label>Delay Feedback
        <input id="delayFeedback" type="text" class="dial" value="0.0">
      </label>
    </span>
    <span>
      <label>Wet and Dry
        <input id="delayWetDryMix" type="text" class="dial" value="0.5">
      </label>
    </span>
    <div>
      <span>
        <label>Delay Engaged?
          <input id="delayBypass" type="checkbox" checked>
        </label>
      </span>
      <span>
        <label>Delay Input Engaged?
          <input id="delayInputBypass" type="checkbox" checked>
        </label>
      </span>
      <span>
        <label>Feedback Input Engaged?
          <input id="feedbackBypass" type="checkbox" checked>
        </label>
      </span>
    </div>
  </div>
