<!-- distortion -->
<div id="distoDiv" class="unit container">
  <div class="row text-center">
    <div class="col">
      <h1>Distortion</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
        <input id="distoSat" class="dial" type="text" value="150">
        <p>Saturation</p>
    </div>
    <div class="col text-center">
        <input id="distoOverdrive" class="dial" type="text" value="0.1">
        <p>OverDrive</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
        <input id="distoHPFfreq" class="dial" type="text" value="60">
        <p>HPF freq</p>
    </div>
    <div class="col text-center">
        <input id="distoLPFfreq" class="dial" type="text" value="15000">
        <p>LPF freq</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
    <label>Distortion Engaged?
      <input id="distoBypass" type="checkbox" checked>
    </label>
    </div>
  </div>
</div>
