<!-- distortion -->
<div class="row">
</div>
<div id="distoDiv" class="unit container col"><h1>Distortion</h1>
  <hr>
  <div class="row">
    <div>
      <label>Saturation
        <input id="distoSat" class="dial" type="text" value="150">
      </label>
    </div>
    <div>
      <label>OverDrive
        <input id="distoOverdrive" class="dial" type="text" value="0.1">
      </label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>HPF freq
        <input id="distoHPFfreq" class="dial" type="text" value="60">
      </label>
    </div>
    <div>
      <label>LPF freq
        <input id="distoLPFfreq" class="dial" type="text" value="15000">
      </label>
    </div>
  </div>
  <div>
    <label>Distortion Engaged?
      <input id="distoBypass" type="checkbox" checked>
    </label>
  </div>
</div>
<!-- <div>
  <br>
</div> -->
