<!-- panner -->
<div id="pannerDiv" class="unit container">
  <div class="row text-center">
    <div class="col">
      <h1>Panner</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <input id="pannerSpeed" type="text" class="dial" value="125">
      <p>Speed</p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <label>Panner Engaged?
        <input id="pannerBypass" type="checkbox" checked>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p> </p>
    </div>
  </div>
</div>
