<!-- reverb -->
<div id="reverbDiv" class="unit container">
  <div class="row text-center">
    <div class="col">
      <h1>Reverb</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <input id="reverbAmount" type="text" class="dial" value="0.7">
      <p>Amount</p>
    </div>
    <div class="col text-center">
      <input id="reverbMix" type="text" class="dial" value="0.5">
      <p>Mix</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
        <input id="reverbHiPass" type="text" class="dial" value="125">
        <p>Hi Pass</p>
    </div>
    <div class="col text-center">
        <input id="reverbLoPass" type="text" class="dial" value="13000">
        <p>Lo Pass</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-auto text-center">
      <label>Reverb Engaged?
        <input id="reverbBypass" type="checkbox" checked>
      </label>
    </div>
    <div class="col-md-auto text-center">
      <label>Reverb Input Engaged?
        <input id="reverbInputBypass" type="checkbox" checked>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <label>Convolution Model
        <select id="reverbSelect">
          <option value="plate">Plate</option>
          <option value="hall">Hall</option>
          <option value="dungeon">Dungeon</option>
        </select>
      </label>
    </div>
  </div>
</div>
