<!-- reverb -->
<div id="reverbDiv" class="unit container">
  <div class="row text-center">
    <div class="col">
      <h1>Reverb</h1>
    </div>
  </div>
  <hr>
  <div class="row text-center">
    <div>
      <label>Amount
        <input id="reverbAmount" type="text" class="dial" value="0.7">
      </label>
    </div>
    <div>
      <label>Mix
        <input id="reverbMix" type="text" class="dial" value="0.5">
      </label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>Hi Pass
        <input id="reverbHiPass" type="text" class="dial" value="125">
      </label>
    </div>
    <div>
      <label>Lo Pass
        <input id="reverbLoPass" type="text" class="dial" value="13000">
      </label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>Reverb Engaged?
        <input id="reverbBypass" type="checkbox" checked>
      </label>
    </div>
    <div>
      <label>Reverb Input Engaged?
        <input id="reverbInputBypass" type="checkbox" checked>
      </label>
    </div>
  </div>
  <div class="row">
    <div>
      <label>Convolution Model
        <select id="reverbSelect">
          <option value="plate">Plate</option>
          <option value="hall">Hall</option>
          <option value="dungeon">Dungeon</option>
        </select>
      </label>
    </div>
  </div>
</div>
